body{
    font: 20px Arial, sans-serif;
}
.navbar {


    background-color: #e1b12c;
}

.quem-somos{
    background-color: #5f5f5f;
    color: white;
}

.margin{   
    padding-bottom: 50px;    
    padding-top: 10px;
}

.parceiros{
    background-color: #ffffff;
}

.bg-footer{
    background-color: rgb(255, 255, 255);
    color: white;
}